@charset "UTF-8";

/*Parametros gerais*/
* {
    font-family: sans-serif;

}

/*Ajustes no body*/
body {
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
}

/*Cards principais*/
.container {
    width: 350px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 0 rgb(22, 22, 22);
    margin: 30px auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Primeiro contaiener da pagina*/
.container:nth-child(1) {
    width: 370px;
    margin: auto;
    height: 310px;
    margin: 30px auto 60px auto;
}

.container:nth-child(2) {
    overflow-y: scroll;
    margin-bottom: 80px;
    width: 600px;
}

/*Logo do calendario importada*/
.icones {
    border-style: solid;
    border-color: rgb(41, 41, 41);
    border-width: 0 1px 0 0;
    height: 18px;
    padding-right: 5px;
    padding-top: 2px;
}

/*Mini-container do input, botao de adicao e a logo do calendario*/
.adicionar-novo {
    border-style: solid;
    border-color: rgb(41, 41, 41);
    border-width: 1px;
    border-radius: 10px;
    height: 24px;
    width: auto;
    padding: 4px;
}

/*Inpit do meu evento*/
.campos {
    height: 22px;
    width: auto;
    margin-left: 10px;
    border: none;

}

/*Preenchimento de dados*/
#sessao {
    margin-top: 18px;
    display: flex;
    width: 90%;
    height: 190px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*Botão de adicionar*/
#adicionar {
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    margin-top: 0px;
    padding: 5px;
    border-radius: 50%;
    transition: .8s;
}

button {
    background-color: transparent;
    border: none;
}

/*Ajustes nos icones importados*/
body>i:first-of-type {
    margin-left: 20px;
    position: absolute;
    background-color: rgb(196, 196, 196);
    width: 20px;
    height: 20px;
    padding: 5px;
    font-size: 19px;
    border-radius: 50%;
}

/*Section que armazena os dados ja cadastados*/
#dados-existentes {
    width: 95%;
    padding: 0 5px;
    border-top-left-radius: 10px;
}

/*Tabela de exibição dos dados cadastrados*/
table {
    width: 95%;
    margin: auto;
    border: 1px solid rgb(43, 43, 43);
}

thead {
    font-weight: bold;
    font-size: .95em;
    height: 30px;
    text-align: center;
    background-color: rgb(218, 218, 218);
}

tbody {
    font-size: .9em;
}

td {
    position: relative;
    border: 1px solid rgb(43, 43, 43);
    height: 25px;
}

/*Fim estilo tabela*/

/*Botão que remove um item*/
.remove-bottom {
    cursor: pointer;
    text-align: center;
    transition: all .5s;
    padding: 2px;
    border-radius: 20px;
}

/*Animação no botão de remoção*/
.remove-bottom:hover {
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    transition: all .5s;
}

/*Classe atribuida para itens que forem marcados como comprei*/
.comprei {
    text-decoration: line-through;
    background-color: rgb(187, 223, 197);
}

/*Botão de check quando marcado*/
.check {
    text-align: center;
    background-color: rgb(71, 165, 99);
    border: 1px solid rgb(0, 0, 0);
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 2px 0 0 43px;
    padding: 0;
    border-radius: 5px;
    text-align: center;
}

/*Botão de check quando desmarcado*/
.no-check {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 2px 0 0 43px;
    padding: 0;
    border-radius: 5px;
    text-align: center;
}

/*Estiização geral para os checkbox*/
input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 45%;
    top: 23%;
    width: 18px;
    height: 18px;
}

@media (min-width: 300px) and (max-width:700px) {

    .container:nth-child(2) {
        overflow-y: scroll;
        margin-bottom: 80px;
        width: 95%;
    }

    /*Tabela de exibição dos dados cadastrados*/
    table {
        width: 98%;
    }

    thead {
        font-size: .85em;
    }

    tbody {
        font-size: .8em;
    }

    /*Fim estilo tabela*/

    .check {
        margin: 2px 0 0 40%;
    }

    /*Botão de check quando desmarcado*/
    .no-check {
        margin: 2px 0 0 40%;
    }

}